:root {
  --primary-color: rgb(187, 162, 255);
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 2s ease;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: beige;
  color: black;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
 
}

.card > * {
  padding: 10px;
}

blockquote {
  font-weight: bold;
  font-size: 20px;
 text-align: center;
 width: 90%;
 margin: auto;
}

button {
  color: white;
  transition: background-color 2s ease;
  border-radius: 5px;
}

